torch
torchvision
torchaudio

packaging
ninja
wheel
transformers
sentence_transformers
accelerate
bitsandbytes

trl
anthropic
groq
openai
huggingface_hub
datasets
peft

nest_asyncio
orjson
sglang
python-multipart
hydra-core
python-dotenv

jupyterlab
ipykernel